/*eventos*/
.eventos {
  background-image: url(../img/imgeventos.jpg);
  min-height: 85vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titleeventos {
  color: #fff;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
}
.titleagenda {
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 50px;
  text-align: center;
  justify-content: center;
  letter-spacing: 2px;
  font-weight: bold;
}
/*proximos eventos*/
.proximoseventos {
  display: flex;
  margin: 50px;
  justify-content: space-around;
}
/*lado calendario*/
.calendario {
  text-align: center;
  width: 320px;
  height: 210px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  margin-bottom: 80px;
  padding: 3px;
}
.calendario h3 {
  text-transform: uppercase;
  color: #fff;
  font-size: 2rem;
}
.calendario ol {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0;
  padding-bottom: 20px;
}
.calendario ol li {
  text-align: right;
  color: #fff;
}

.agendado {
  color: var(--color-primario) !important;
}
.calendario ol li {
  text-align: right;
}

.first-day {
  grid-column-start: 5;
}

.day {
  color: var(--color-primario) !important;
  font-weight: bold;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background: black;
}
.bajocalendario {
  width: 320px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  margin-top: 15px;
  padding: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.bajocalendario p {
  color: #fff;
  text-align: left;
  padding: 10px;
}
/*lado eventos img*/
.imgeventos {
  width: 180px;
  height: 180px;
  padding-left: 5px;
  border-radius: 8px;
}
.imgeventos:hover {
  transform: scale(0.9);
}
.proximoseventos h2 {
  color: #fff;
  text-transform: uppercase;
  padding-left: 5px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 40px;
}
.agenda {
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  width: 500px;
  padding-top: 10px;
  margin-bottom: 30px;
  padding-right: 20px;
  justify-content: space-evenly;
}
.agenda h4 {
  color: var(--color-primario);
  font-size: 1.2rem;
  text-transform: uppercase;
  padding-left: 10px;
}
.agenda p {
  padding-left: 10px;
  color: #fff;
  padding-right: 100px;
  padding-top: 0;
}

/*responsive eventos*/
@media (max-width: 1100px) {
  .eventos {
    width: 100%;
    min-height: 20vh;
    background-position: center;
    background-attachment: relative;
    background-size: cover;
  }
  .proximoseventos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;

    align-items: center;
    position: relative;
  }
  .titleeventos {
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    text-align: center;
  }
  .bajocalendario {
    margin-bottom: 50px;
  }
}
