/*reset css - global*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  /*background-color: rgb(26, 29, 29);*/
  background: url(/img/estrellas.jpg);
  background-size: 100vh;
  background-attachment: fixed;
}
main {
  margin-top: 75px;
}
