/*index - portadas */
.portadas {
  margin: 5%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  border: none;
}
.img-thumbnail {
  width: 230px;
  height: 300px;
  margin: 2%;
  transition: 0.5s;
}
.img-thumbnail:hover {
  transform: scale(1.3);
}
/*carousel*/
.carousel-inne {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.fotocarousel {
  max-height: 85vh;
}

/*Presentacion index*/
.somoswarg {
  font-size: 3rem;
  text-align: center;
  margin: 30px;
  color: #c0d96f;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 3px;
  height: 50px;
  width: 100%;
}
.inicio {
  display: flex;
  justify-content: space-around;
}
.textinicio {
  width: 550px;
  height: 450px;
  color: #fff;
  text-align: justify;
  margin: auto;
  padding-top: 50px;
  font-size: 1.5rem;
}
.videoinicio {
  width: 550px;
  height: 450px;
  margin-left: 50px;
}

/*responsive index*/
@media (min-height: 1350px) {
  .fotocarousel {
    height: 85%vh;
  }
}
@media (max-width: 1200px) {
  .inicio {
    flex-direction: column;
  }
  .videoinicio {
    margin: auto;
  }
  .textinicio {
    font-size: 1.3rem;
  }
}
@media (max-width: 750px) {
  .videoinicio {
    width: 450px;
    height: 350px;
  }
  .textinicio {
    font-size: 1.2rem;
    width: 450px;
    height: 350px;
  }
  .somoswarg {
    letter-spacing: 1.4px;
    font-size: 2rem;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media (max-width: 750px) {
  .textinicio {
    font-size: 1rem;
    align-items: center;
  }
}
