/*carousel*/
.carousel-inne {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.fotocarousel {
  max-height: 85vh;
}
.textcarousel {
  color: var(--color-primario);
}
.carousel-caption h1 {
  color: var(--color-primario);
  font-size: 20px;
}
/*Presentacion index*/
.somoswarg {
  font-size: 3rem;
  text-align: center;
  margin: 30px;
  color: #fff;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 3px;
  height: 50px;
  width: 100%;
}
.inicio {
  display: flex;
  justify-content: space-around;
}
.textinicio {
  width: 600px;
  height: 450px;
  color: #fff;
  margin: auto;
  padding: 20px;
  font-size: 1.3rem;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  text-decoration: none;
}
.textinicio a {
  background: none;
  color: var(--color-primario);
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.contactoinicio {
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
}
.videoinicio {
  width: 550px;
  height: 450px;
  margin-left: 50px;
}

/*responsive index*/
@media (min-height: 1350px) {
  .fotocarousel {
    height: 85%vh;
  }
}
@media (max-width: 1200px) {
  .inicio {
    flex-direction: column;
  }
  .videoinicio {
    margin: auto;
    width: 500px;
    height: 400px;
  }
  .textinicio {
    font-size: 1.3rem;
  }
  .games {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    justify-content: space-between;
  }
}
@media (max-width: 750px) {
  .videoinicio {
    width: 400px;
    height: 300px;
    margin-bottom: 30px;
  }
  .textinicio {
    font-size: 1.2rem;
    width: 450px;
    height: 350px;
  }
  .somoswarg {
    letter-spacing: 1.4px;
    font-size: 2rem;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .textinicio {
    font-size: 1rem;
    align-items: center;
  }
  .jugadores {
    width: 100px;
    height: 150px;
  }
  .jugadores figure img {
    width: 100px;
    height: 150px;
  }
  .jugadores figure:hover > .portada h3 {
    margin: auto;
  }
}

/*portadas*/ /*index - portadas */
.games {
  display: flex;
  justify-content: space-around;
  margin: 100px;
}
.jugadores {
  width: 250px;
  height: 320px;
  display: flex;
  /*justify-content: center;
  align-items: center;
  height: 100vh;*/
}
.jugadores figure {
  position: relative;
  width: 230px;
  height: 300px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.jugadores figure img {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
}
.jugadores figure .portada {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(24, 32, 22, 0.8);
  opacity: 0;
  transition: all 500ms ease-out;
  visibility: hidden;
  text-align: center;
}
.jugadores figure:hover > .portada {
  opacity: 1;
  visibility: visible;
}
.jugadores figure:hover > .portada h3 {
  margin-top: 70px;
  margin-bottom: 50px;
}
.jugadores figure .portada h3 {
  color: var(--color-primario);
  font-size: 1.7rem;
  margin-bottom: 120px;
  transition: all 500ms ease-out;
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
.jugadores figure .portada p {
  color: var(--color-primario);
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  margin: auto;
  max-width: 150px;
}
.jugadores figure:hover > img {
  transform: scale(1.2);
}
