/*Nosotros Astronautas*/

.img-circle {
  box-sizing: border-box;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin-bottom: 5px;
  margin-left: 16px;
  transition: 1.5s;
}
.img-circle:hover {
  transform: translateY(-25%);
}
.astronautas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 25px 0 25px;
  height: 80vh;
  margin-top: 80px;
}
.texastronauta {
  text-align: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  padding: auto;
  margin: auto;
  letter-spacing: 1.5px;
  font-family: "Zen Dots", sans-serif;
}
.nombres {
  font-family: "Zen Dots", sans-serif;
}
.featurette-divider {
  color: #fff;
}
.nosotrostitulo {
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.btn {
  position: relative;
  display: inline-block;
  padding: 5px 15px;
  color: #fff;
  letter-spacing: 2px;
  margin: auto;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
}

.btn:hover {
  background: #c0d96f;
  box-shadow: 0 0 10px #c0d96f, 0 0 40px var(--color-primario),
    0 0 80px var(--color-primario);
  transition-delay: 1s;
}
.btn span {
  position: absolute;
  display: block;
}
#span1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--color-primario));
}
.btn:hover #span1 {
  left: 100%;
  transition: 1s;
}
#span3 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--color-primario));
}
.btn:hover #span3 {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
#span2 {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--color-primario));
}
.btn:hover #span2 {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
#span4 {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--color-primario));
}
.btn:hover #span4 {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
/*Presentaciones*/

.nosotros {
  display: flex;
}

.presentaciones {
  display: flex;
  flex-direction: column;
  margin: 70px;
  align-items: center;
}
.titlepresentaciones {
  font-size: 3rem;
  color: #fff;
  letter-spacing: 1.5px;
}
.textpresentaciones {
  color: #fff;
  font-size: 1.7rem;
  margin: auto;
  text-align: justify;
}
.imgprueba {
  padding: 60px;
  margin: 10px;
  width: 550px;
  height: 550px;
}
/*responsive nosotros*/
@media (max-width: 1100px) {
  .nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #reverse {
    flex-direction: column-reverse;
  }
}
@media (max-width: 770px) {
  .textpresentaciones {
    font-size: 1.5rem;
  }
  .titlepresentaciones {
    font-size: 2.3rem;
    letter-spacing: 1.3px;
    text-align: center;
  }
}
@media (max-width: 1000px) {
  .astronautas {
    flex-direction: column;
    height: 40vh;
    align-items: center;
  }
}
@media (max-width: 576px) {
  .astronautas {
    flex-direction: column;
    height: 100vh;
    align-items: center;
  }
}
