/*carousel*/
.carousel-inne {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.fotocarousel {
  max-height: 85vh;
}

.textcarousel {
  color: var(--color-primario);
}

.carousel-caption h1 {
  color: var(--color-primario);
  font-size: 20px;
}

/*Presentacion index*/
.somoswarg {
  font-size: 3rem;
  text-align: center;
  margin: 30px;
  color: #fff;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 3px;
  height: 50px;
  width: 100%;
}

.inicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.textinicio {
  width: 600px;
  height: 450px;
  color: #fff;
  margin: auto;
  padding: 20px;
  font-size: 1.3rem;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  text-decoration: none;
}

.textinicio a {
  background: none;
  color: var(--color-primario);
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.contactoinicio {
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
}

.videoinicio {
  width: 550px;
  height: 450px;
  margin-left: 50px;
}

/*responsive index*/
@media (min-height: 1350px) {
  .fotocarousel {
    height: 85%vh;
  }
}

@media (max-width: 1200px) {
  .inicio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .videoinicio {
    margin: auto;
    width: 500px;
    height: 400px;
  }
  .textinicio {
    font-size: 1.3rem;
  }
  .games {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 750px) {
  .videoinicio {
    width: 400px;
    height: 300px;
    margin-bottom: 30px;
  }
  .textinicio {
    font-size: 1.2rem;
    width: 450px;
    height: 350px;
  }
  .somoswarg {
    letter-spacing: 1.4px;
    font-size: 2rem;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .textinicio {
    font-size: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .jugadores {
    width: 100px;
    height: 150px;
  }
  .jugadores figure img {
    width: 100px;
    height: 150px;
  }
  .jugadores figure:hover > .portada h3 {
    margin: auto;
  }
}

/*portadas*/
/*index - portadas */
.games {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 100px;
}

.jugadores {
  width: 250px;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*justify-content: center;
  align-items: center;
  height: 100vh;*/
}

.jugadores figure {
  position: relative;
  width: 230px;
  height: 300px;
  overflow: hidden;
  border-radius: 8px;
  -webkit-box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.jugadores figure img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.jugadores figure .portada {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(24, 32, 22, 0.8);
  opacity: 0;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  visibility: hidden;
  text-align: center;
}

.jugadores figure:hover > .portada {
  opacity: 1;
  visibility: visible;
}

.jugadores figure:hover > .portada h3 {
  margin-top: 70px;
  margin-bottom: 50px;
}

.jugadores figure .portada h3 {
  color: var(--color-primario);
  font-size: 1.7rem;
  margin-bottom: 120px;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.jugadores figure .portada p {
  color: var(--color-primario);
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  margin: auto;
  max-width: 150px;
}

.jugadores figure:hover > img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/*reset css - global*/
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #1a1d1d;
}

:root {
  --color-primario: #33cc00;
}

/*header*/
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0f0f0f;
  color: #fff;
  font-family: "Poppins", sans-serif;
  line-height: 75px;
}

.brand-title {
  font-size: 3.2rem;
  letter-spacing: 1.6px;
  font-family: "Zen Dots", sans-serif;
  line-height: 1.6;
  margin-left: 50px;
  padding-left: 5px;
  text-decoration: none;
  list-style: none;
  color: #fff;
}

.brand-title:hover {
  /*color: #c0d96f;
  color: #2bbf07;*/
  color: var(--color-primario);
}

#navbar-links {
  height: 100%;
}

#navbar-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

#navbar-links li {
  list-style: none;
}

#navbar-links li a {
  text-transform: uppercase;
  font-size: 18px;
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 0px 32px;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: var(--color-primario);
  border-radius: 8px;
}

#navbar-links:target {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#navbar-links :hover {
  color: var(--color-primario);
}

#navbar-links .active {
  color: var(--color-primario);
}

@media (max-width: 750px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .brand-title {
    margin: auto;
  }
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
  }
  #navbar-links {
    display: none;
    width: 100%;
  }
  #navbar-links ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #navbar-links ul li {
    text-align: center;
  }
  #navbar-links ul li a {
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 970px) and (min-width: 750px) {
  .brand-title {
    margin: auto;
  }
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*404 error */
.msjerror {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: calc(100vh - 100px);
}

.msjerror__contenedor {
  text-align: center;
  color: #fff;
}

.error404 {
  font-size: 60px;
  margin: 0px;
}

.text404 {
  font-size: 18px;
}

.error404 {
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

.error404 {
  -webkit-animation-name: bounce;
          animation-name: bounce;
}

.footer404 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
  width: 100%;
}

.footer404 a {
  color: var(--color-primario);
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}

.footer404 a:hover {
  text-decoration: none;
}

/*Nosotros Astronautas*/
.img-circle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin-bottom: 5px;
  margin-left: 16px;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.img-circle:hover {
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
}

.astronautas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 25px 0 25px;
  height: 80vh;
  margin-top: 80px;
}

.texastronauta {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #fff;
  padding: auto;
  margin: auto;
  letter-spacing: 1.5px;
  font-family: "Zen Dots", sans-serif;
}

.nombres {
  font-family: "Zen Dots", sans-serif;
}

.featurette-divider {
  color: #fff;
}

.nosotrostitulo {
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 5px 15px;
  color: #fff;
  letter-spacing: 2px;
  margin: auto;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btn:hover {
  background: #c0d96f;
  -webkit-box-shadow: 0 0 10px #c0d96f, 0 0 40px var(--color-primario), 0 0 80px var(--color-primario);
          box-shadow: 0 0 10px #c0d96f, 0 0 40px var(--color-primario), 0 0 80px var(--color-primario);
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.btn span {
  position: absolute;
  display: block;
}

#span1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(var(--color-primario)));
  background: linear-gradient(90deg, transparent, var(--color-primario));
}

.btn:hover #span1 {
  left: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

#span3 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(var(--color-primario)));
  background: linear-gradient(270deg, transparent, var(--color-primario));
}

.btn:hover #span3 {
  right: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

#span2 {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(var(--color-primario)));
  background: linear-gradient(180deg, transparent, var(--color-primario));
}

.btn:hover #span2 {
  top: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

#span4 {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(var(--color-primario)));
  background: linear-gradient(360deg, transparent, var(--color-primario));
}

.btn:hover #span4 {
  bottom: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}

/*Presentaciones*/
.nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.presentaciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titlepresentaciones {
  font-size: 3rem;
  color: #fff;
  letter-spacing: 1.5px;
}

.textpresentaciones {
  color: #fff;
  font-size: 1.7rem;
  margin: auto;
  text-align: justify;
}

.imgprueba {
  padding: 60px;
  margin: 10px;
  width: 550px;
  height: 550px;
}

/*responsive nosotros*/
@media (max-width: 1100px) {
  .nosotros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 750px) {
  .textpresentaciones {
    font-size: 1.5rem;
  }
  .titlepresentaciones {
    font-size: 2.3rem;
    letter-spacing: 1.3px;
    text-align: center;
  }
}

@media (max-width: 1000px) {
  .astronautas {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 40vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 600px) {
  .astronautas {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*Contacto*/
form {
  width: 450px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacto {
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 17px;
  border: none;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
  min-width: 410px;
}

.botoncontacto {
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
}

.botoncontacto:hover {
  cursor: pointer;
  background: #c0d96f;
  -webkit-box-shadow: 0 0 10px var(--color-primario), 0 0 40px var(--color-primario), 0 0 80px var(--color-primario);
          box-shadow: 0 0 10px var(--color-primario), 0 0 40px var(--color-primario), 0 0 80px var(--color-primario);
}

label {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 2px;
}

@media (max-width: 480) {
  form {
    width: 100%;
  }
}

/*Galeria - Multimedia*/
#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 25px;
}

#galeria img {
  width: 100%;
  height: 250px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: solid;
  border-radius: 3px;
  border: 5px;
  border-color: #fff;
}

.textgaleria {
  color: #fff;
  text-transform: uppercase;
  padding-top: 20px;
  text-align: center;
}

#galeria img:hover {
  border: solid;
  border-radius: 3px;
  border: 5px;
  border-color: #fff;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

/*footer*/
footer {
  position: relative;
  background-color: #0f0f0f;
  bottom: 0;
  width: 100%;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 0px;
  text-decoration: none;
}

.imgfooter {
  width: 40px;
  height: 40px;
  color: #fff;
  text-decoration: none;
}

.imgfooter:hover {
  background: #c0d96f;
  -webkit-box-shadow: 0 0 10px var(--color-primario), 0 0 40px var(--color-primario), 0 0 80px var(--color-primario);
          box-shadow: 0 0 10px var(--color-primario), 0 0 40px var(--color-primario), 0 0 80px var(--color-primario);
  border-radius: 25px;
}

.textfooter {
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 15px;
}

.redes {
  text-decoration: none;
}

/*eventos*/
.eventos {
  background-image: url(/img/imgeventos.jpg);
  min-height: 85vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titleeventos {
  color: #fff;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
}

.titleagenda {
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 50px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 2px;
  font-weight: bold;
}

/*proximos eventos*/
.proximoseventos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/*lado calendario*/
.calendario {
  text-align: center;
  width: 320px;
  height: 210px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  margin-bottom: 80px;
  padding: 3px;
}

.calendario h3 {
  text-transform: uppercase;
  color: #fff;
  font-size: 2rem;
}

.calendario ol {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  padding: 0;
  padding-bottom: 20px;
}

.calendario ol li {
  text-align: right;
  color: #fff;
}

.agendado {
  color: var(--color-primario) !important;
}

.calendario ol li {
  text-align: right;
}

.first-day {
  -ms-grid-column: 5;
      grid-column-start: 5;
}

.day {
  color: var(--color-primario) !important;
  font-weight: bold;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background: black;
}

.bajocalendario {
  width: 320px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  margin-top: 15px;
  padding: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.bajocalendario p {
  color: #fff;
  text-align: left;
  padding: 10px;
}

/*lado eventos img*/
.imgeventos {
  width: 180px;
  height: 180px;
  padding-left: 5px;
  border-radius: 8px;
}

.imgeventos:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.proximoseventos h2 {
  color: #fff;
  text-transform: uppercase;
  padding-left: 5px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 40px;
}

.agenda {
  background: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  padding-top: 10px;
  margin-bottom: 30px;
  padding-right: 20px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.agenda h4 {
  color: var(--color-primario);
  font-size: 1.2rem;
  text-transform: uppercase;
  padding-left: 10px;
}

.agenda p {
  padding-left: 10px;
  color: #fff;
  padding-right: 100px;
  padding-top: 0;
}

/*responsive eventos*/
@media (max-width: 1100px) {
  .eventos {
    width: 100%;
    min-height: 20vh;
    background-position: center;
    background-attachment: relative;
    background-size: cover;
  }
  .proximoseventos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .titleeventos {
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    text-align: center;
  }
  .bajocalendario {
    margin-bottom: 50px;
  }
}
/*# sourceMappingURL=style.css.map */