/*index - portadas */
.portadas {
  margin: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: none;
}

.img-thumbnail {
  width: 230px;
  height: 300px;
  margin: 2%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.img-thumbnail:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

/*carousel*/
.carousel-inne {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.fotocarousel {
  width: 100%;
  height: 85vh;
}

/*Presentacion index*/
.somoswarg {
  font-size: 3rem;
  text-align: center;
  margin: 30px;
  color: #c0d96f;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  width: 100%;
}

.presentacion {
  height: 500px;
  width: 100%;
  margin: 30px 30px 50px 50px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.videopresentacion {
  height: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 10px;
  width: 650px;
}

.textpresentacion {
  margin: 10px;
  padding: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #fff;
  font-size: 1.3rem;
  text-transform: uppercase;
}

/*reset css - global*/
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  /*background-color: rgb(26, 29, 29);*/
  background: url(/img/estrellas.jpg);
  background-size: 100vh;
  background-attachment: fixed;
}

main {
  margin-top: 75px;
}

/*header*/
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0f0f0f;
  color: #fff;
  font-family: "Poppins", sans-serif;
  line-height: 75px;
}

.brand-title {
  font-size: 3.2rem;
  letter-spacing: 1.6px;
  font-family: "Zen Dots", sans-serif;
  line-height: 1.6;
  margin-left: 50px;
  padding-left: 5px;
  text-decoration: none;
  list-style: none;
  color: #fff;
}

.brand-title:hover {
  color: #c0d96f;
}

#navbar-links {
  height: 100%;
}

#navbar-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

#navbar-links li {
  list-style: none;
}

#navbar-links li a {
  text-transform: uppercase;
  font-size: 18px;
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 0px 32px;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #c0d96f;
  border-radius: 8px;
}

#navbar-links:target {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#navbar-links :hover {
  color: #c0d96f;
}

#navbar-links .active {
  color: #c0d96f;
}

@media (max-width: 750px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .brand-title {
    margin: auto;
  }
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
  }
  #navbar-links {
    display: none;
    width: 100%;
  }
  #navbar-links ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #navbar-links ul li {
    text-align: center;
  }
  #navbar-links ul li a {
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 970px) and (min-width: 750px) {
  .brand-title {
    margin: auto;
  }
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*404 error */
.msjerror {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: calc(100vh - 100px);
}

.msjerror__contenedor {
  text-align: center;
  color: #fff;
}

.error404 {
  font-size: 60px;
  margin: 0px;
}

.text404 {
  font-size: 18px;
}

.error404 {
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

.error404 {
  -webkit-animation-name: bounce;
          animation-name: bounce;
}

.footer404 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
  width: 100%;
}

.footer404 a {
  color: #c0d96f;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}

.footer404 a:hover {
  text-decoration: none;
}

/*Nosotros Astronautas*/
.img-circle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin-bottom: 5px;
  margin-left: 16px;
}

.astronautas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 25px 0 25px;
  height: 80vh;
}

.texastronauta {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #fff;
  padding: auto;
  margin: auto;
  letter-spacing: 1.5px;
  font-family: "Zen Dots", sans-serif;
}

.nombres {
  font-family: "Zen Dots", sans-serif;
}

.featurette-divider {
  color: #fff;
}

.nosotrostitulo {
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 5px 15px;
  color: #fff;
  letter-spacing: 2px;
  margin: auto;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btn:hover {
  background: #c0d96f;
  -webkit-box-shadow: 0 0 10px #c0d96f, 0 0 40px #c0d96f, 0 0 80px #c0d96f;
          box-shadow: 0 0 10px #c0d96f, 0 0 40px #c0d96f, 0 0 80px #c0d96f;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.btn span {
  position: absolute;
  display: block;
}

#span1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#c0d96f));
  background: linear-gradient(90deg, transparent, #c0d96f);
}

.btn:hover #span1 {
  left: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

#span3 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#c0d96f));
  background: linear-gradient(270deg, transparent, #c0d96f);
}

.btn:hover #span3 {
  right: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

#span2 {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#c0d96f));
  background: linear-gradient(180deg, transparent, #c0d96f);
}

.btn:hover #span2 {
  top: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

#span4 {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#c0d96f));
  background: linear-gradient(360deg, transparent, #c0d96f);
}

.btn:hover #span4 {
  bottom: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}

/*Presentaciones*/
.nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.presentaciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titlepresentaciones {
  font-size: 3rem;
  color: #fff;
  letter-spacing: 1.5px;
}

.textpresentaciones {
  color: #fff;
  font-size: 1.7rem;
  margin: auto;
  text-align: justify;
}

.imgprueba {
  padding: 60px;
  margin: 10px;
  width: 550px;
  height: 550px;
}

/*responsive nosotros*/
@media (max-width: 1100px) {
  .nosotros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 770px) {
  .textpresentaciones {
    font-size: 1.5rem;
  }
  .titlepresentaciones {
    font-size: 2.3rem;
    letter-spacing: 1.3px;
    text-align: center;
  }
}

@media (max-width: 1000px) {
  .astronautas {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 60vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 650px) {
  .astronautas {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*Contacto*/
form {
  width: 450px;
  margin: auto;
  margin-bottom: 50px;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacto {
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 17px;
  border: none;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
  min-width: 410px;
}

.botoncontacto {
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
}

.botoncontacto:hover {
  cursor: pointer;
  background: #c0d96f;
  -webkit-box-shadow: 0 0 10px #c0d96f, 0 0 40px #c0d96f, 0 0 80px #c0d96f;
          box-shadow: 0 0 10px #c0d96f, 0 0 40px #c0d96f, 0 0 80px #c0d96f;
}

label {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 2px;
}

@media (max-width: 480) {
  form {
    width: 100%;
  }
}

/*Galeria - Multimedia*/
#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 25px;
}

#galeria img {
  width: 100%;
  height: 250px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: solid;
  border-radius: 3px;
  border: 5px;
  border-color: #fff;
}

.textgaleria {
  color: #fff;
  text-transform: uppercase;
  padding-top: 20px;
  text-align: center;
}

#galeria img:hover {
  border: solid;
  border-radius: 3px;
  border: 5px;
  border-color: #fff;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

/*footer*/
footer {
  position: relative;
  background-color: #0f0f0f;
  bottom: 0;
  width: 100%;
  height: 125px;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 0px;
  text-decoration: none;
}

.imgfooter {
  width: 40px;
  height: 40px;
  color: white;
  text-decoration: none;
}

.imgfooter:hover {
  background: #c0d96f;
  -webkit-box-shadow: 0 0 10px #c0d96f, 0 0 40px #c0d96f, 0 0 80px #c0d96f;
          box-shadow: 0 0 10px #c0d96f, 0 0 40px #c0d96f, 0 0 80px #c0d96f;
  border-radius: 25px;
}

.textfooter {
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 15px;
}

.redes {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */